<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Headquarter</h2>
                    </div>
                    <address>
                        <p>212 Barrington Court <br>New York, ABC 10001</p>
                    </address>

                    <ul class="social-icon">
                        <li><a href="{{ 'https://www.facebook.com/profile.php?id=100073962302365' }}"
                               class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="{{ 'https://www.instagram.com/elmastate7' }}" class="fa fa-instagram"></a></li>
                    </ul>

                    <div class="copyright-text">
                        <p>Copyright &copy; 2021 Elma Estate</p>
                        <p>Template by: <a href="#">khotan</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Contact Info</h2>
                    </div>
                    <address>
                        <p>+90 535 6462 071</p>
                        <p>+98 912 8382 479</p>
                        <p><a href="mailto:elma7state@gmail.com">elma7state@gmail.com</a></p>
                    </address>

                    <div class="footer_menu">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'realstate' %}">Real Estates</a></li>
                            <li><a href="{% url 'projects' %}">Projects</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="footer-info newsletter-form">
                    <div class="section-title">
                        <h2>Newsletter Signup</h2>
                    </div>
                    <div>
                        <div class="form-group">
                            <form action="#" method="get">
                                <input type="email" class="form-control" placeholder="Enter your email" name="email"
                                       id="email" required>
                                <input type="submit" class="form-control" name="submit" id="form-submit"
                                       value="Send me">
                            </form>
                            <span><sup>*</sup> Please note - we do not spam your email.</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '100073962302365',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v12.0'
        });
      };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</footer>
