{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}ElmaState Website{% endblock title %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>

{% include 'navbar.html' %}

<!-- HOME -->
<section id="home">
    <div class="row">
        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Lorem ipsum dolor sit amet.</h1>
                            <h3>Voluptas dignissimos esse, explicabo cum fugit eaque, perspiciatis quia ab nisi sapiente
                                delectus eiet.</h3>
                            {% comment %}<a href="{% url 'realstate' %}" class="section-btn btn btn-default">Fleet</a>{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Distinctio explicabo vero animi culpa facere voluptatem.</h1>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, excepturi.</h3>
                            {% comment %}<a href="{% url 'realstate' %}" class="section-btn btn btn-default">Fleet</a>{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Efficient Learning Methods</h1>
                            <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis
                                sollicitudin ut at libero.</h3>
                            {% comment %}<a href="{% url 'realstate' %}" class="section-btn btn btn-default">Fleet</a>{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                        <h2>Latest<p>Properties</p><small>The latest ready-to-sell properties</small></h2>
                    </div>
                </div>
                <!--section-estates;-->
                {% for estate in object_list %}
                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb">
                        <div class="team-image">
                            <img src="{{estate.img.url}}" class="img-responsive" alt="static/images/A101.jpg">
                        </div>
                        <div class="team-info">
                            <h3>{{estate.description}}</h3>

                            <p class="lead"><small>price :</small> <strong>{{estate.price}} €</strong></p>

                            <span>{{estate.description}}</span>
                        </div>
                        <div class="team-thumb-actions">
                            <p class="section-btn btn btn-primary btn-block">Code: {{estate.code}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% if blog %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                        <h2>Latest Blog posts <small>Lorem ipsum dolor sit amet.</small></h2>
                    </div>
                </div>
                {% for blog in object_list %}
                <div class="col-md-4 col-sm-4">
                    <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                            <div class="courses-image">
                                <img src="{{ blog.img.url }}" class="img-responsive" alt="">
                            </div>
                            <div class="courses-date">
                                <span title="Author"><i class="fa fa-user"></i> {{ blog.author }}</span>
                                <span title="Date"><i class="fa fa-calendar"></i> {{ blog.date }}</span>
                                <span title="Views"><i class="fa fa-eye"></i> {{ blog.views }}</span>
                            </div>
                        </div>
                        <div class="courses-detail">
                            <h3><a href="blog-post-details.html">{{ blog.description }}</a></h3>
                        </div>

                        <div class="courses-info">
                            <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

        <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="text-center">
                        <h2>About us</h2>
                        <br>
                        <p class="lead">Elma company has been established by KHOTAN SODAGAR and has
                            officially begun providing services to Russians, Iranians and people from Other European
                            countries.
                            Services such as the provision of residential services from beginning to end and get a
                            residence card, estate affairs, consulting and investment in the city of Alanya, Turkey.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

<!-- CONTACT -->
<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <form id="contact-form" role="form" action="" method="post">
                    <div class="section-title">
                        <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <input type="text" class="form-control" placeholder="Enter full name" name="name" required>

                        <input type="email" class="form-control" placeholder="Enter email address" name="email"
                               required>

                        <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message"
                                  required></textarea>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input type="submit" class="form-control" name="send message" value="Send Message">
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="contact-image">
                    <img src="static/images/contact-1-600x400.jpg" class="img-responsive" alt="Smiling Two Girls">
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}

<!-- SCRIPTS -->
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/smoothscroll.js"></script>
<script src="static/js/custom.js"></script>
</body>
</html>